<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CallManagementSystem</display-name>
  
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>myFilters.CookieChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AloginFilter</filter-name>
    <filter-class>myFilters.AdminLoginChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AloginFilter</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MloginFilter</filter-name>
    <filter-class>myFilters.ManagementLoginChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MloginFilter</filter-name>
    <url-pattern>/Management/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SloginFilter</filter-name>
    <filter-class>myFilters.ServiceEngineerLoginChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SloginFilter</filter-name>
    <url-pattern>/ServiceEngineer/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>OloginFilter</filter-name>
    <filter-class>myFilters.OperatorLoginChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OloginFilter</filter-name>
    <url-pattern>/Operator/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>start</servlet-name>
    <jsp-file>/indexcms.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/SCM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forget</servlet-name>
    <jsp-file>/forgetpassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>forget</servlet-name>
    <url-pattern>/Forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reguser</servlet-name>
    <jsp-file>/registeruser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>reguser</servlet-name>
    <url-pattern>/RegisterMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reset</servlet-name>
    <jsp-file>/resetpassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/Admin/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/Admin/CMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <jsp-file>/Admin/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/Admin/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <jsp-file>/Admin/importdata.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/Admin/ImportData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AProfilesetup</servlet-name>
    <jsp-file>/Admin/profilesetting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AProfilesetup</servlet-name>
    <url-pattern>/Admin/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Apropic</servlet-name>
    <jsp-file>/Admin/profilepic.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apropic</servlet-name>
    <url-pattern>/Admin/ProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MProfilesetup</servlet-name>
    <jsp-file>/Management/profilesetting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MProfilesetup</servlet-name>
    <url-pattern>/Management/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mpropic</servlet-name>
    <jsp-file>/Management/profilepic.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mpropic</servlet-name>
    <url-pattern>/Management/ProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SProfilesetup</servlet-name>
    <jsp-file>/ServiceEngineer/profilesetting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SProfilesetup</servlet-name>
    <url-pattern>/ServiceEngineer/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Spropic</servlet-name>
    <jsp-file>/ServiceEngineer/profilepic.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Spropic</servlet-name>
    <url-pattern>/ServiceEngineer/ProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OProfilesetup</servlet-name>
    <jsp-file>/Operator/profilesetting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OProfilesetup</servlet-name>
    <url-pattern>/Operator/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Opropic</servlet-name>
    <jsp-file>/Operator/profilepic.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Opropic</servlet-name>
    <url-pattern>/Operator/ProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Smain</servlet-name>
    <jsp-file>/ServiceEngineer/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Smain</servlet-name>
    <url-pattern>/ServiceEngineer/CMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mmain</servlet-name>
    <jsp-file>/Management/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mmain</servlet-name>
    <url-pattern>/Management/CMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Omain</servlet-name>
    <jsp-file>/Operator/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Omain</servlet-name>
    <url-pattern>/Operator/CMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cdetails</servlet-name>
    <jsp-file>/Operator/customerDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cdetails</servlet-name>
    <url-pattern>/Operator/CustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complaint</servlet-name>
    <jsp-file>/Operator/createcomplaint.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>complaint</servlet-name>
    <url-pattern>/Operator/CreateComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complaindetails</servlet-name>
    <jsp-file>/Operator/complaindetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>complaindetails</servlet-name>
    <url-pattern>/Operator/ComplaintDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ocpswd</servlet-name>
    <jsp-file>/Operator/changepassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ocpswd</servlet-name>
    <url-pattern>/Operator/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acpswd</servlet-name>
    <jsp-file>/Admin/changepassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>acpswd</servlet-name>
    <url-pattern>/Admin/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scpswd</servlet-name>
    <jsp-file>/ServiceEngineer/changepassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>scpswd</servlet-name>
    <url-pattern>/ServiceEngineer/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mcpswd</servlet-name>
    <jsp-file>/Management/changepassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mcpswd</servlet-name>
    <url-pattern>/Management/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Scomplaindetails</servlet-name>
    <jsp-file>/ServiceEngineer/complaindetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scomplaindetails</servlet-name>
    <url-pattern>/ServiceEngineer/ComplaintDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>progressdetails</servlet-name>
    <jsp-file>/ServiceEngineer/progressdetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>progressdetails</servlet-name>
    <url-pattern>/ServiceEngineer/ProgressDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finishdetails</servlet-name>
    <jsp-file>/ServiceEngineer/finisheddetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>finishdetails</servlet-name>
    <url-pattern>/ServiceEngineer/FinishedDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>notify</servlet-name>
    <jsp-file>/Admin/setnotification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notify</servlet-name>
    <url-pattern>/Admin/SetNotification</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/SCM</welcome-file>
  </welcome-file-list>
  
 </web-app>